<!DOCTYPE html>
<!-- Define thymeleaf as th. Then to use it, type in th:-->
<html xmlns:th="http://www.thymeleaf.org">
<!-- The head is where you define meta data and bring in stylesheets -->
<head th:fragment="head (title)" id="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"> This is the title for page </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/site.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
</html>