<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang-xmllang="en">

<head>
    <div th:replace = "common/head :: head (title='Analogue Events')"> </div>
</head>

<body>
<!-- th:replace argument tells thymeleaf the location of the code to insert here by giving it the file and
section of that file (e.g. tag like a header)  You can also pass in parameters to this section of code being referenced. -->
    <div th:replace = "common/header :: header (title='Analogue Events')"> </div>

    <div class="container">
        <table class="table">
            <thead>
            <tr class="row">
                <td class="col-sm-4"> Event ID</td>
                <td class="col-sm-4"> Event Channel ID</td>
                <td class="col-sm-4"> Event Date</td>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="event : ${events}">
                <tr class="row">
                    <td class="col-sm-4" th:text= "${event.id}">id ...</td>
                    <td class="col-sm-4" th:text="${event.channel.id}">channel ...</td>
                    <td class="col-sm-4" th:text="${event.date}">date ...</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <form action="#" th:action="@{'/reports'}" th:method="GET" >
        <input type="submit" id="submitButton" value="Create a Report!"> </input>
    </form>

    <div th:replace = "common/footer :: footer">

    </div>
</body>

</html>