<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang-xmllang="en">

<head>
    <div th:replace = "common/head :: head (title='Analogue Events')"> </div>
</head>

<body>
    <div th:replace = "common/header :: header (title='Analogue Events')"> </div>

    <section id="breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Example Events
            </li>
        </ol>
    </section>

    <div class="container">
        <table class="table">
            <thead>
            <tr class="row">
                <td class="col-sm-4"> Event ID</td>
                <td class="col-sm-4"> Event Channel ID</td>
                <td class="col-sm-4"> Event Date</td>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="event : ${events}">
                <tr class="row">
                    <td class="col-sm-4" th:text= "${event.id}">id ...</td>
                    <td class="col-sm-4" th:text="${event.channel.id}">channel ...</td>
                    <td class="col-sm-4" th:text="${event.date}">date ...</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div th:replace = "common/footer :: footer">

    </div>
</body>

</html>