<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang-xmllang="en">

    <head>
        <div th:replace = "common/head :: head (title='Home')"> </div>
    </head>

    <body>

        <section id="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" active><a href="">Home</a></li>
            </ol>
        </section>

        <!-- th:replace argument tells thymeleaf the location of the code to insert here by giving it the file and
        section of that file (e.g. tag like a header)  You can also pass in parameters to this section of code being referenced. -->
        <div th:replace = "common/header :: header (title='Home')"></div>

        <p> Welcome to this microsite! </p>

        <form action="#" th:action="@{'/reports/raw-analogue-events'}" th:method="GET" >
            <input type="submit" id="goToReports" value="Analogue Reports!"> </input>
        </form>

        <form action="#" th:action="@{'/reports/overview/angular'}" th:method="GET" >
          <input type="submit" id="goToAngularReports" value="Analogue Reports using Angular!"> </input>
        </form>

        <form action="#" th:action="@{'/reports/overview/angular/2'}" th:method="GET" >
          <input type="submit" id="goToAngular2Reports" value="Analogue Reports using Angular version 2!"> </input>
        </form>

        <form action="#" th:action="@{'/analogue-events'}" th:method="GET" >
            <input type="submit" id="goToEvents" value="View Example Events!"> </input>
        </form>

        <div th:replace = "common/footer :: footer"></div>
    </body>

</html>
